
    body,html {height:100%;overflow:hidden;}
    body {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, #969ceb 0%,#31c08e 100%);
    }
    div {

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 0%,rgba(0,0,0,0.05) 100%); 
    }

.buscar{
    padding: 0px;
    position: absolute;
    left: 525px;
    top: 0;
    


}
.buscar input{
    width: 400px;
    height: 30px;
    margin-top: 0;
    padding: 20px;
    font-size: 20px;
    color: black;
    outline: auto;
    border: 1px solid silver;
    border-radius: 30px;
    

}
.btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 55px;
    height: 55px;
    line-height: 55px;


}


    
    .menu{
        list-style: none;
        padding: 0;
        background: #092327;
        width: 90%;
        max-width: 1000px;
        margin: auto;
    }
    
    .menu li a{
        text-decoration: none;
        color: white;
        padding: 20px;
        display: block;
    }
    
    .menu li{
        display: inline-block;
        text-align: center;
    }
    
    .menu li a:hover{
        background: #52ad52;
    }
    
    